{erl_opts, [debug_info]}.
{deps, [
		{etoml,      ".*", {git, "git@github.com:tkyshm/etoml.git", {branch, "add-file-api"}}},
		{cronparser, ".*", {git, "git@github.com:antoniogarrote/cronparser.erl.git", {branch, "master"}}},
		{yamerl,     ".*", {git, "git@github.com:yakaz/yamerl.git", {branch, "master"}}}
		%{fast_yaml,  "1.0.4"}
	   ]}.

{relx, [{release, {'barile', "0.1.0"},
		 ['barile',
		  sasl]},

		{sys_config, "./config/sys.config"},
		{vm_args, "./config/vm.args"},

		{dev_mode, true},
		{include_erts, false},

		{extended_start_script, true}]
}.

{profiles, [{test, [
					{erl_opts, [debug_info,
								verbose
							   ]},
					{deps, [
							{eunit_formatters, ".*", {git, "git@github.com:seancribbs/eunit_formatters.git", {branch, "master"}}}
							, {meck,       ".*", {git, "https://github.com/eproxus/meck.git", {branch, "master"}}}
							, {proper,     ".*", {git, "git@github.com:manopapad/proper.git", {branch, "master"}}}
						   ]}
				   ]
			},
			{prod, [
					{erl_opts, [no_debug_info,
								warnings_as_errors
							   ]},
					{relx, [{dev_mode, false},
							{include_erts, true}]}
				   ]
			}]
}.
