%% -*- erlang -*-
[
  {'barile', []},
  {lager, [
      {log_root, "./log/"},
      {handlers, [
          {lager_console_backend, [info,
                                   {lager_default_formatter,
                                    ["level:", severity, 
                                     "\tnode:", node,
                                     "\tpid:",pid,
                                     "\tmsg:\"", message, "\"",
                                     "\tmodule:", module,
                                     "\tfunction:", function,
                                     "\tline:", line,
                                     "\ttimestamp:", date, "T", time,
                                     "\n"
                                    ]}
                                  ]
          },
          {lager_file_backend, [{file, "errorl.log"}, 
                                {level, error}
                               ]},
          {lager_file_backend, [{file, "console.log"}, 
                                {level, info},
                                {formatter, lager_default_formatter},
                                {formatter_config, 
                                 ["level:", severity, 
                                  "\tnode:", node,
                                  "\tpid:",pid,
                                  "\tmsg:\"", message, "\"",
                                  "\tmodule:", module,
                                  "\tfunction:", function,
                                  "\tline:", line,
                                  "\ttimestamp:", date, "T", time,
                                  "\n"
                                 ]}
                               ]}
      ]}
  ]}

].
